body {
  background-color: rgb(146, 141, 141);
}

h1 {
  background-color: pink;
  color: #f5f5f5;
  text-align: center;
}



#img-container{
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  width: 90%;
}

#img-container img{
  width: 200px;
}
#results-btn{
  background-color: green ;
}

h2 {
  text-align: center;
  background-color: white;
  padding: 30px;
  margin: 20px;
  border: 15px rgb(241, 31, 31);
  color: pink;
}